.App {
  font-family: sans-serif;
  text-align: center;
}

.calc-bg {
  background-color: black;
  width: 430px;
  height: 600px;
}

.button {
  background-color: gray;
  width: 100px;
  height: 100px;
}

.screen {
  background-color: white;
  width: 414px;
  height: 40px;
  margin: 7px;
  text-align: right;
  position: absolute;
  padding: 0;
  font-size: 35px;
}

table {
  position: absolute;
  margin-left: 5px;
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
  color: black;
}

tr :hover {
  border: 0.5px white solid;
  color: white;
}

.operator:active {
  /* background-color: chartreuse; */
  border: 0.5px chartreuse solid;
}
